.banner {
    padding: 45px 0 30px;
}

.banner__wrapper {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                url('../imgs/banner-full.jpg') center/cover no-repeat;
    max-width: 1770px;
    line-height: 130%;
    border-radius: 20px;
}

.banner__link {
    width: 100%;
    height: 100%;
    display: block;
    padding: 150px 0 45px;
}

.banner__caption {
    font-size: 70px;
    line-height: 130%;
    margin-bottom: 95px;
    padding-left: 112px;
    display: inline-block;
}

.banner__text {
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 17px;
}

.banner__timer {
    max-width: 473px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, fit-content(193px));
    gap: 30px;
    align-items: end;
}

.timer__item {
    display: grid;
    grid-template-columns: repeat(2, fit-content(117px));
    gap: 6px;
    align-items: end;
}

.timer__date {
    font-size: 60px;
    line-height: 1;
}

.timer__text {
    font-size: 32px;
    line-height: 1.4;
}

@media (max-width: 1240px) {
    .banner__link {
        padding: 83px 0 40px;
    } 
    .banner__caption {
        font-size: 40px;
        max-width: 300px;
        padding-left: 80px;
        margin-bottom: 9px;
    }
    .banner__timer {
        max-width: 314px;
        grid-template-columns: repeat(3, fit-content(127px));
        gap: 20px;
    }   
    .timer__item {
        grid-template-columns: repeat(2, fit-content(74px));
        gap: 8px;
    } 
    .timer__date {
        font-size: 40px;
    } 
    .timer__text {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .banner {
        padding: 30px 0 11px;
    }
    .banner__wrapper {
        max-width: 940px;
        background-size: cover;
        border-radius: 16px;
    }
}

@media (max-width: 768px) {
    .banner {
        padding: 25px 0 20px;
    }
    .banner__wrapper {
        max-width: 700px;
        background-size: cover;
    }
    .banner__link {
        padding: 68px 0 32px;
    } 
    .banner__caption {
        font-size: 30px;
        max-width: 100%;
        margin-bottom: 80px;
    }
    .banner__text {
        font-size: 12px;
        margin-bottom: 16px;
    }
    .banner__timer {
        max-width: 229px;
        grid-template-columns: repeat(3, fit-content(97px));
        gap: 10px;
    }
    .timer__item {
        grid-template-columns: repeat(2, fit-content(59px));
        gap: 4px;
    }
    .timer__date {
        font-size: 30px;
    }
    .timer__text {
        font-size: 16px;
        line-height: 1.3;
    }
}

@media (max-width: 500px) {
    .banner__caption {
        padding-left: 40px;
    }    
}

@media (max-width: 400px) {
    .banner {
        padding: 21px 0 10px;
    }
    .banner__wrapper {
        max-width: 280px;
        background-size: cover;
        border-radius: 8px;
    }
    .banner__link {
        padding: 50px 29px 34px;
        min-height: 340px; 
        display: grid;       
        grid-template-rows: 1fr max-content max-content;
    }
    .banner__caption {
        font-size: 22px;
        max-width: 100%;
        padding: 0;
        align-self: start;
    }
    .banner__text {
        font-size: 8px;
        margin-bottom: 6px;
        align-self: start;
    }
    .banner__timer {
        max-width: 167px;
        grid-template-columns: repeat(3, fit-content(70px));
        gap: 8px;
        align-self: end;
    } 
    .timer__item {
        grid-template-columns: repeat(2, fit-content(44px));
        gap: 2px;
    }
    .timer__date {
        font-size: 20px;
    }
    .timer__text {
        font-size: 12px;
        line-height: 1.3;
    }
}